<div id="activities-title">
    <h1>{{title}}</h1>
</div>

<div class="text-photo-intro margin1-text-photo">
    <div class="text-photo-box">            
        <div class="text-photo-picture border-r"> 
            <div class="text-photo-margin-img">                 
                    <img src="../../../assets/pictures/tours/tour_1.jpg">
            </div> 
        </div>               
        <div class="text-photo-TEXT">
                <div class="text-photo-margin-text">                       
                    <h2 class="text-photo-title">Salsa Classes</h2>
                    <div class="text-photo-TEXTcontent">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.   
                            <br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.   
                            <br>
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.       </p>
                    </div>                   
                </div>                
        </div>
    </div>
</div>

<div class="text-photo-intro">
    <div class="text-photo-box">            
        
        <div class="text-photo-TEXT order_1">
            <div class="text-photo-margin-text">                       
                <h2 class="text-photo-title">YOGA</h2>
                <div class="text-photo-TEXTcontent">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.   
                        <br>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.   
                        <br>
                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.       </p>
                </div>                   
            </div>                
        </div>
        
        <div class="text-photo-picture order_2 border-l"> 
            <div class="text-photo-margin-img">                 
                    <img src="../../../assets/pictures/tours/tour_2.jpg">
            </div> 
        </div>               
        
    </div>
</div>

<div class="text-photo-intro">
    <div class="text-photo-box">            
        <div class="text-photo-picture border-r"> 
            <div class="text-photo-margin-img">                 
                    <img src="../../../assets/pictures/tours/tour_3.jpg">
            </div> 
        </div>               
        <div class="text-photo-TEXT">
                <div class="text-photo-margin-text">                       
                    <h2 class="text-photo-title">Spanish Lessons</h2>
                    <div class="text-photo-TEXTcontent">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.   
                            <br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.   
                            <br>
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.       </p>
                    </div>                   
                </div>                
        </div>
    </div>
</div>

<div class="text-photo-intro">
    <div class="text-photo-box">            
        
        <div class="text-photo-TEXT order_1">
            <div class="text-photo-margin-text">                       
                <h2 class="text-photo-title">Party</h2>
                <div class="text-photo-TEXTcontent">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.   
                        <br>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.   
                        <br>
                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.       </p>
                </div>                   
            </div>                
        </div>
        
        <div class="text-photo-picture order_2 border-l"> 
            <div class="text-photo-margin-img">                 
                    <img src="../../../assets/pictures/tours/tour_4.jpg">
            </div> 
        </div>               
        
    </div>
</div>

<!--

<div id="gallery">
    <a class="example-image-link" href="../../../assets/pictures/chontaduro/chonto1.jpeg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
        <img class="example-image" src="../../../assets/pictures/chontaduro/chonto1.jpeg" alt=""/>
    </a>
    <a class="example-image-link" href="../../../assets/pictures/chontaduro/chonto2.jpeg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard.">
        <img class="example-image" src="../../../assets/pictures/chontaduro/chonto2.jpeg" alt="" />
    </a>
    <a class="example-image-link" href="../../../assets/pictures/chontaduro/chonto3.jpeg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing.">
        <img class="example-image" src="../../../assets/pictures/chontaduro/chonto3.jpeg" alt="" />
    </a>
    <a class="example-image-link" href="../../../assets/pictures/chontaduro/chonto1.jpeg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close.">
        <img class="example-image" src="../../../assets/pictures/chontaduro/chonto1.jpeg" alt="" />
    </a>
    <a class="example-image-link" href="../../../assets/pictures/chontaduro/chonto2.jpeg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
        <img class="example-image" src="../../../assets/pictures/chontaduro/chonto2.jpeg" alt=""/>
    </a>
    <a class="example-image-link" href="../../../assets/pictures/chontaduro/chonto3.jpeg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard.">
        <img class="example-image" src="../../../assets/pictures/chontaduro/chonto3.jpeg" alt="" />
    </a>
  </div>

-->