<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div id="container-homepage">
    <div id="intro">
        <div id="description-intro">
            <svg id="curve-welcome" width="1000" height="400">
                <path id="curve" d="M 0 100 Q 200 300 450 200 Q 650 100 850 300 "></path>
                <text class="text-title" text-anchor="start">
                    <textPath class="text__path" href="#curve" startOffset="4%">
                        welcome to this experience ...
                    </textPath>
                </text>
            </svg>
            <div class="text-content">
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                </p>
            </div> 
        </div>
        <div id="picture-intro"> 
            <div id="slideshow">
            <div>
            <img src="../../../assets/pictures/calenitoHomePage_1.jpg">
            </div>
            <div>
            <img src="../../../assets/pictures/calenitoHomePage_2.jpg">
            </div>
            </div>
        </div>
    </div>
    <div id="rooms-intro">
        <div id="description-rooms">            
            <div id="dorms-intro"> 
                <div class="rooms-margin">                 
                    <h2 class="rooms">Dorms</h2>
                    <p class="subtitel-rooms">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                    <img class="img-rooms" src="../../../assets/pictures/dorms.jpg">
                    <p class="characteristics-romms">sadipscing elitr - sed diam - nonumy - eirmod - tempor - invidunt ut</p>
                </div> 
            </div>               
            <div id="private-rooms-intro">
                    <div class="rooms-margin">                       
                        <h2 class="rooms">Private Rooms</h2>
                        <p class="subtitel-rooms">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
                        <img class="img-rooms" src="../../../assets/pictures/private-rooms.jpg">
                        <p class="characteristics-romms">sadipscing elitr - sed diam - nonumy - eirmod - tempor - invidunt ut</p>                       
                    </div>                
            </div>
        </div>
    </div>
    <div id="facilities">
        <div id="box-facilities">            
            <div id="fotos-facilities"> 
                <div class="facilities-margin-img">                 
                    <div id="img-facilities"> 
                        <div id="slideshow-facilities">
                        <div>
                        <img src="../../../assets/pictures/facilities/bar-facilities.jpg">
                        </div>
                        <div>
                        <img src="../../../assets/pictures/facilities/kitchen-facilities.jpg">
                        </div>
                        <div>
                            <img src="../../../assets/pictures/facilities/pool-facilities.jpg">
                        </div>
                        <div>
                            <img src="../../../assets/pictures/facilities/hamaca-facilities.jpg">
                        </div>
                        <div>
                            <img src="../../../assets/pictures/facilities/wifi-facilities.jpg">
                        </div>
                        </div>
                    </div>
                </div> 
            </div>               
            <div id="text-facilities">
                <div class="facilities-margin-text">                       
                    <h2 class="facilities">Facilities</h2>
                    <div class="text-content-facilities">
                        <p class="text-facilities">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.   
                            <br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.   
                            <br>
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.       </p>
                    </div>                   
                </div>                
            </div>
        </div>
    </div>

    <div id="experience">
        <div id="experiencia-contenedor">
            <div id="experiencia-text">
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            </div>
            <video autoplay [muted]="'muted'" loop width="100%">
                <source src="../../../assets/pictures/LaCalleDelPecado.mp4">
            </video>
        </div>
    </div>

    <div id="contact-homepage">
        <div id="box-contact">                          
            <div id="text-contact">
                <div class="contact-margin-text">                       
                    <h2 class="contact-homepage">Contact</h2>
                    <div class="text-content-contact">
                        <p class="text-contact">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.   
                            <br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.   
                            <br>
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.       </p>
                    </div>                  
                </div>                
            </div>
            <div id="fotos-contact"> 
                <div class="contact-margin-img">                 
                    <!--<div id="img-contact">-->
                    <a href="https://www.google.com/maps/place/Juan+Valdez+Caf%C3%A9/@3.4545697,-76.5379827,18.48z/data=!4m6!3m5!1s0x8e30a7d1d63f5581:0xe81579859198e1ae!8m2!3d3.4542682!4d-76.5368567!16s%2Fg%2F11hywq6lbv?entry=ttu" target="_blank">
                        <img src="../../../assets/pictures/ubicacion-calenitoHostel.png">
                    </a>
                    <!--</div>-->
                    <div class="sociaNetworks-contact">
                        <div id="contact-margin-1">
                            <div id="contact-margin-2">
                                <h3>Ubicacion</h3>
                                <p>Calle 65 #32-7 Barrio Granada</p>
                                <br>
                                <h3>
                                    Siguenos
                                </h3>
                                <div id="icon">
                                    <a href="#" class="fa fa-facebook"></a>
                                    <a href="#" class="fa fa-instagram"></a>
                                </div>
                                <h3>Llamanos</h3>
                                <p>WhatsApp: <a>+57 322 552 2597</a></p>
                                <p>Teléfono:&nbsp;&nbsp;&nbsp; <a>+57 322 552 2597</a></p> <!-- El &nbsp; es la forma de escribir un espacio -->
                            </div>
                        </div>
                    </div>

                    
                </div> 
            </div> 
        </div>
    </div>
</div>
