<div id="facilities-title">
    <h1>{{title}}</h1>
</div>

<div id="facilities-container">

  

  <div class="info-facilities" id="p1">
    
    <div id="facilitie-1" class="facilitie f-horizontal">
      <img src="../../../assets/pictures/facilities/bar-facilities.jpg" alt="" />
    </div>
    
  </div>

  <div class="info-facilities" id="p2"> 
    
    <div id="facilitie-2" class="facilitie f-vertical">
      <img src="../../../assets/pictures/facilities/v-breakfast-facilities.jpg" alt="" />
    </div>
    
  </div>

  <div class="info-facilities" id="p3">
    
    <div id="facilitie-3" class="facilitie f-horizontal">
      <img src="../../../assets/pictures/facilities/hamaca-facilities.jpg" alt="" />
    </div>
    
  </div>

  <div class="info-facilities" id="p4">
    <div id="facilitie-4" class="facilitie f-vertical">
      <img src="../../../assets/pictures/facilities/v-socialArea-facilities.jpg" alt="" />
    </div>
  </div>

  <div class="info-facilities" id="p5">
    <div id="facilitie-5" class="facilitie f-horizontal">
      <img src="../../../assets/pictures/facilities/kitchen-facilities.jpg" alt="" />
    </div>
  </div>

  <div class="info-facilities" id="p6">
    <div id="facilitie-6" class="facilitie f-vertical">
      <img src="../../../assets/pictures/facilities/v-terraza-facilities.jpg" alt="" />
    </div>
  </div>

  <div class="info-facilities" id="p7">
    
    <div id="facilitie-7" class="facilitie f-horizontal">
      <img src="../../../assets/pictures/facilities/pool-facilities.jpg" alt="" />
    </div>
    
  </div>

  <div class="info-facilities" id="p8">
    
    <div id="facilitie-8" class="facilitie f-vertical">
      <img src="../../../assets/pictures/facilities/v-laundry-facilities.jpg" alt="" />
    </div>
  
  </div>

  <div class="info-facilities" id="p9">
    
    <div id="facilitie-9" class="facilitie f-horizontal">
      <img src="../../../assets/pictures/facilities/wifi-facilities.jpg" alt="" />
    </div>
    
  </div>

  <div class="info-facilities" id="p10">
    
    <div id="facilitie-10" class="facilitie f-vertical">
      <img src="../../../assets/pictures/facilities/v-lockers-facilities.jpg" alt="" />
    </div>
    
  </div>

</div>

<div id="text-facilitie-1" class="text-facilitie">
  <div id="container-text-facilities-1" class="container-text-facilities" >
    <p>1 Ugsdfgnwergsöongst wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
  </div>
</div>

<div id="text-facilitie-2" class="text-facilitie">
  <div id="container-text-facilities-2" class="container-text-facilities" >
    <p>2 Ugsdfgnwergsöongst wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
  </div>
</div>

<div id="text-facilitie-3" class="text-facilitie">
  <div id="container-text-facilities-3" class="container-text-facilities" >
    <p>3 Ugsdfgnwergsöongst wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
  </div>
</div>

<div id="text-facilitie-4" class="text-facilitie">
  <div id="container-text-facilities-4" class="container-text-facilities" >
    <p>4 Ugsdfgnwergsöongst wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
  </div>
</div>

<div id="text-facilitie-5" class="text-facilitie">
  <div id="container-text-facilities-5" class="container-text-facilities" >
    <p>5 Ugsdfgnwergsöongst wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
  </div>
</div>

<div id="text-facilitie-6" class="text-facilitie">
  <div id="container-text-facilities-6" class="container-text-facilities" >
    <p>6 Ugsdfgnwergsöongst wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
  </div>
</div>

<div id="text-facilitie-7" class="text-facilitie">
  <div id="container-text-facilities-7" class="container-text-facilities" >
    <p>7 Ugsdfgnwergsöongst wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
  </div>
</div>

<div id="text-facilitie-8" class="text-facilitie">
  <div id="container-text-facilities-8" class="container-text-facilities" >
    <p>8 Ugsdfgnwergsöongst wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
  </div>
</div>

<div id="text-facilitie-9" class="text-facilitie">
  <div id="container-text-facilities-9" class="container-text-facilities" >
    <p>9 Ugsdfgnwergsöongst wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
  </div>
</div>

<div id="text-facilitie-10" class="text-facilitie">
  <div id="container-text-facilities-10" class="container-text-facilities" >
    <p>10 Ugsdfgnwergsöongst wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
  </div>
</div>







<!--
<div class="container">
    <div class="persons js-dropdown-items">
  
      <div class="person js-dropdown-item">
        <div class="avatar">
            <img src="../../../assets/pictures/chontaduro/chonto1.jpeg" alt="" title="Title 1">
            <div class="bottom-left">Bottom Left</div>
        </div>
       
        <div class="js-description">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
      </div>
  
      <div class="person js-dropdown-item">
        <div class="avatar">
            <img src="../../../assets/pictures/chontaduro/chonto1.jpeg" alt="" title="Title 2">
            <div class="bottom-left">Bottom Left</div>
        </div>
        <div class="js-description">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
      </div>
  
      <div class="person js-dropdown-item">
        <div class="avatar">
            <img src="../../../assets/pictures/chontaduro/chonto1.jpeg" alt="" title="Title 3">
            <div class="bottom-left">Bottom Left</div>
        </div>
        <div class="js-description">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
      </div>

      <div class="person js-dropdown-item">
        <div class="avatar">
            <img src="../../../assets/pictures/chontaduro/chonto1.jpeg" alt="" title="Title 3">
            <div class="bottom-left">Bottom Left</div>
        </div>
        <div class="js-description">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
      </div>
  
      <div class="person js-dropdown-item">
        <div class="avatar">
            <img src="../../../assets/pictures/chontaduro/chonto1.jpeg" alt="" title="Title 3">
            <div class="bottom-left">Bottom Left</div>
        </div>
        <div class="js-description">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
      </div>
  
      <div class="person js-dropdown-item">
        <div class="avatar">
            <img src="../../../assets/pictures/chontaduro/chonto1.jpeg" alt="" title="Title 3">
            <div class="bottom-left">Bottom Left</div>
        </div>
        <div class="js-description">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
      </div>

      <div class="person js-dropdown-item">
        <div class="avatar">
            <img src="../../../assets/pictures/chontaduro/chonto1.jpeg" alt="" title="Title 3">
            <div class="bottom-left">Bottom Left</div>
        </div>
        <div class="js-description">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
      </div>
  
      <div class="person js-dropdown-item">
        <div class="avatar">
            <img src="../../../assets/pictures/chontaduro/chonto1.jpeg" alt="" title="Title 3">
            <div class="bottom-left">Bottom Left</div>
        </div>
        <div class="js-description">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
      </div>
  
      <div class="person js-dropdown-item">
        <div class="avatar">
            <img src="../../../assets/pictures/chontaduro/chonto1.jpeg" alt="" title="Title 3">
            <div class="bottom-left">Bottom Left</div>
        </div>
        <div class="js-description">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
      </div>

    </div>
  </div>

-->