<div id="private-title">
    <h1>{{title}}</h1>
</div>

<div id="private-container">

    <div class="info-rooms">

        <div id="dorm-1" class="privat">
            <div><img src="../../../assets/pictures/dorms/dorm_1/dorm_1-1.jpg" alt="" /></div>
            <div><img src="../../../assets/pictures/dorms/dorm_1/dorm_1-2.jpg" alt="" /></div>
        </div>

        <div class="title-privat">
            <h3>Dorm 1</h3>
            <p id="details-open-dorm-1">ver detalles</p>
        </div>

        <div class="container-info-privat">

        <div class="info-privat" id="info-dorm-1">
            <div class="nameandlevelRoom">
                <h2 class="nameRoom">Privado 1</h2>   
                <p>Middle Option</p>    
            </div>
            <div class="price">
                <p class="price-info"><a class="COP">COP </a>60.000<a class="per-night"> /per night</a></p>
            </div>     
            <div class="service-room">
                <ul class="service-list">
                    <li>From $190.000 COP per night, weekdays</li>
                    <li>From $210.000 COP per night, weekends</li>
                    <li>Sleeps Two</li>
                    <li>Mosquito net</li>
                    <li>Wifi</li>
                </ul>

                <div class="availability">
                    <a href="#" class="theme-btn-s2">Consultar disponibilidad</a>
                </div>
            </div>
        </div>

        </div>
        
    </div>

    <div class="info-rooms">
        
        <div id="dorm-2" class="privat">
            <div><img src="../../../assets/pictures/dorms/dorm_2/dorm_2-1.jpg" alt="" /></div>
            <div><img src="../../../assets/pictures/dorms/dorm_2/dorm_2-2.jpg" alt="" /></div>
        </div>

        <div class="title-privat">
            <h3>Dorm 2</h3>
            <p id="details-open-dorm-2">ver detalles</p>
        </div>

        <div class="container-info-privat">

            <div class="info-privat" id="info-dorm-2">
                <div class="nameandlevelRoom">
                    <h2 class="nameRoom">Privado 2</h2>   
                    <p>Normal Option</p>    
                </div>
                <div class="price">
                    <p class="price-info"><a class="COP">COP </a>100.000<a class="per-night"> /per night</a></p>
                </div>     
                <div class="service-room">
                    <ul class="service-list">
                        <li>From $190.000 COP per night, weekdays</li>
                        <li>From $210.000 COP per night, weekends</li>
                        <li>Sleeps Two</li>
                        <li>Mosquito net</li>
                        <li>Wifi</li>
                    </ul>
    
                    <div class="availability">
                        <a href="#" class="theme-btn-s2">Consultar disponibilidad</a>
                    </div>
                </div>
            </div>
    
        </div>

    </div>

    <div class="info-rooms">

        <div id="dorm-3" class="privat">
            <div><img src="../../../assets/pictures/dorms/dorm_3/dorm_3-1.jpg" alt="" /></div>
            <div><img src="../../../assets/pictures/dorms/dorm_3/dorm_3-2.jpg" alt="" /></div>
        </div>

        <div class="title-privat">
            <h3>Dorm 3</h3>
            <p id="details-open-dorm-3">ver detalles</p>
        </div>

        <div class="container-info-privat">

            <div class="info-privat" id="info-dorm-3">
                <div class="nameandlevelRoom">
                    <h2 class="nameRoom">Privado 3</h2>   
                    <p>Normal Option</p>    
                </div>
                <div class="price">
                    <p class="price-info"><a class="COP">COP </a>100.000<a class="per-night"> /per night</a></p>
                </div>     
                <div class="service-room">
                    <ul class="service-list">
                        <li>From $190.000 COP per night, weekdays</li>
                        <li>From $210.000 COP per night, weekends</li>
                        <li>Sleeps Two</li>
                        <li>Mosquito net</li>
                        <li>Wifi</li>
                    </ul>
    
                    <div class="availability">
                        <a href="#" class="theme-btn-s2">Consultar disponibilidad</a>
                    </div>
                </div>
            </div>
    
        </div>
        
    </div>

    <div class="info-rooms">

        <div id="dorm-4" class="privat">
            <div><img src="../../../assets/pictures/dorms/dorm_4/dorm_4-1.jpg" alt="" /></div>
            <div><img src="../../../assets/pictures/dorms/dorm_4/dorm_4-2.jpg" alt="" /></div>
        </div>

        <div class="title-privat">
            <h3>Dorm 4</h3>
            <p id="details-open-dorm-4">ver detalles</p>
        </div>
        
        <div class="container-info-privat">

            <div class="info-privat" id="info-dorm-4">
                <div class="nameandlevelRoom">
                    <h2 class="nameRoom">Privado 2</h2>   
                    <p>Middle Option</p>    
                </div>
                <div class="price">
                    <p class="price-info"><a class="COP">COP </a>100.000<a class="per-night"> /per night</a></p>
                </div>     
                <div class="service-room">
                    <ul class="service-list">
                        <li>From $190.000 COP per night, weekdays</li>
                        <li>From $210.000 COP per night, weekends</li>
                        <li>Sleeps Two</li>
                        <li>Mosquito net</li>
                        <li>Wifi</li>
                    </ul>
    
                    <div class="availability">
                        <a href="#" class="theme-btn-s2">Consultar disponibilidad</a>
                    </div>
                </div>
            </div>
    
        </div>

    </div>

    <div class="info-rooms">

        <div id="dorm-5" class="privat">
            <div><img src="../../../assets/pictures/dorms/dorm_5/dorm_5-1.jpg" alt="" /></div>
            <div><img src="../../../assets/pictures/dorms/dorm_5/dorm_5-2.jpg" alt="" /></div>
        </div>

        <div class="title-privat">
            <h3>Dorm 5</h3>
            <p id="details-open-dorm-5">ver detalles</p>
        </div>
        
        <div class="container-info-privat">

            <div class="info-privat" id="info-dorm-5">
                <div class="nameandlevelRoom">
                    <h2 class="nameRoom">Privado 2</h2>   
                    <p>Middle Option</p>    
                </div>
                <div class="price">
                    <p class="price-info"><a class="COP">COP </a>100.000<a class="per-night"> /per night</a></p>
                </div>     
                <div class="service-room">
                    <ul class="service-list">
                        <li>From $190.000 COP per night, weekdays</li>
                        <li>From $210.000 COP per night, weekends</li>
                        <li>Sleeps Two</li>
                        <li>Mosquito net</li>
                        <li>Wifi</li>
                    </ul>
    
                    <div class="availability">
                        <a href="#" class="theme-btn-s2">Consultar disponibilidad</a>
                    </div>
                </div>
            </div>
    
        </div>

    </div>

</div>

