<!DOCTYPE html>
<html lang="es">
  
  <body>

    <header>
        <div id="container-menu">
          <div id="inner-menu">
              <ul id="ul-left" class="ul-menu list">
                <li id="private-rooms"><a [routerLink]="['/private-rooms']" [routerLinkActive]="['actived']">Private Rooms</a></li>
                <li id="dorms"><a [routerLink]="['/dorms']" [routerLinkActive]="['actived']">Dorms</a></li>
                <li id="facilities"><a [routerLink]="['/facilities']" [routerLinkActive]="['actived']">Facilities</a></li>
                <li id="activities"><a [routerLink]="['/activities']" [routerLinkActive]="['actived']">Activities</a></li>
              </ul>
              
              <ul id="ul-center" class="ul-menu">
                <li class="logo"><a [routerLink]="['/homepage']">Caleñito Hostel</a></li>
              </ul>
              
              <ul id="ul-right" class="ul-menu list">
                <li id="tours"><a [routerLink]="['/tours']" [routerLinkActive]="['actived']">Tours</a></li>      
                <li><a [routerLink]="['/about']" [routerLinkActive]="['actived']">About</a></li>
                <li id="contact"><a [routerLink]="['/contact']" [routerLinkActive]="['actived']">Contact</a></li>
                <li><a [routerLink]="['/faqs']" [routerLinkActive]="['actived']">FAQs</a></li>
                <li><a [routerLink]="['/book']" [routerLinkActive]="['actived']">Reserve</a></li>
              </ul>

              <!-- Hamburger Manu -->
              <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
              <label for="openSidebarMenu" class="sidebarIconToggle">
                <div class="spinner diagonal part-1"></div>
                <div class="spinner horizontal"></div>
                <div class="spinner diagonal part-2"></div>
              </label>
            
              <div id="sidebarMenu">
                  <div class="main-content-wrapper closeSidebarMenu">
                    <a [routerLink]="['/private-rooms']" [routerLinkActive]="['actived']">Private Rooms</a>
                    <a [routerLink]="['/dorms']" [routerLinkActive]="['actived']">Dorms</a>
                    <a [routerLink]="['/facilities']" [routerLinkActive]="['actived']">Facilities</a>
                    <a [routerLink]="['/activities']" [routerLinkActive]="['actived']">Activities</a>
                    <a [routerLink]="['/tours']" [routerLinkActive]="['actived']">Tours</a>    
                    <a [routerLink]="['/about']" [routerLinkActive]="['actived']">About</a>
                    <a [routerLink]="['/contact']" [routerLinkActive]="['actived']">Contact</a>
                    <a [routerLink]="['/faqs']" [routerLinkActive]="['actived']">FAQs</a>
                    <a [routerLink]="['/book']" [routerLinkActive]="['actived']">Reserve</a>
                    <a id='home-burger' [routerLink]="['/']" [routerLinkActive]="['actived']"></a> <!--Esta en el logo-->
                </div>
            </div>
          </div>
        </div>
    </header>

    <section id="content">
      <div id="main-homepage">
        <router-outlet>
        </router-outlet>
      </div>  
      <!--
      <div id="content-homepage">
        
      </div>
    -->
      <footer>
        <div id="footer-container">
          <div id="footer-rules">
            <div id="plus-18">
              <img src="../assets/pictures/+18.png">
            </div>
            <div class="text-footer">
              <h4>Advertencia</h4>
              <br>
              <p>Costeño Beach SAS con RNT 722245 del Ministerio de Comercio, Industria y Turismo, rechaza la explotación sexual y otras formas de abuso infantil de conformidad con las leyes colombianas 679 de 2001, 1336 de 2009, 1098 de 2006 y 1329 de 2009. En el mismo también es contra el trabajo infantil. Advertimos a nuestros clientes que estas formas de comportamiento están sujetas a sanciones penales y administrativas, de conformidad con las leyes vigentes en Colombia.</p>
            </div>
            <div class="text-footer">
              <h4>Rules</h4>
              <br>
              <ul>
                <li>Check-in 2:00 pm. Check-out 11:00 am. For a late check-out, we will charge you 100% of your fee.</li>
                <li>Use only the bed and the assigned room. The use of different beds or pillows will be 20,000 COP.</li>
                <li>Drugs are prohibited in the hostel.</li>
                <li>Pets, persons under 18 years of age, food and drinks from outside are not allowed.</li>
                <li>Do not smoke inside the kiosks or rooms.</li>
                <li>Meal Times
                  <ul>
                    <li>Breakfast 7:30 am. - 11:00 am.</li>
                    <li>Lunch 12:30 pm. - 3:00 pm.</li>
                    <li>Poke y Sushi 1:00 pm. - 9:00 pm.</li>
                    <li>Sandwich 3:00 pm. - 10:00 pm.</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="footer-end">
          <div id="links-footer">
            <ul>
              <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
              <li><a [routerLink]="['/volunteer']">Volunteer</a></li>
              <li><a [routerLink]="['/private-rooms']">Private Rooms</a></li>
              <li><a [routerLink]="['/dorms']">Dorms</a></li>
              <li><a [routerLink]="['/facilities']">Facilities</a></li>
              <li><a [routerLink]="['/activities']">Activities</a></li>
              <li><a [routerLink]="['/tours']">Tours</a></li>      
              <li><a [routerLink]="['/about']">About</a></li>
              <li><a [routerLink]="['/contact']">Contact</a></li>
              <li><a [routerLink]="['/faqs']">FAQs</a></li>
              <li><a [routerLink]="['/book']">Reserve</a></li>
            </ul>
          </div>
          <div id="copy">
            &copy; 2022 HostelCali
          </div>
        </div>
      </footer>
    </section>

  </body>
</html>



