
<!-- NOTA importante para encontrar mas opsiones del plugin bareBone -->
<!-- https://www.jqueryscript.net/slider/Flexible-Simple-Image-Slider-Plugin-Bare-Bones-Slider.html --> 
<!-- IMPORTANTE IMPORTANTE IMPORTANTE IMPORTANTE IMPORTANTE IMPORTANTE IMPORTANTE IMPORTANTE IMPORTANTE-->

<div id="private-title">
    <h1>{{title}}</h1>
</div>

<div id="private-container">

    <div class="info-rooms">

        <div id="privat-1" class="privat">
            <div><img src="../../../assets/pictures/priveta_room/private_1/privat_1-1.jpg" alt="" /></div>
            <div><img src="../../../assets/pictures/priveta_room/private_1/privat_1-2.jpg" alt="" /></div>
        </div>

        <div class="title-privat">
            <h3>Privat 1</h3>
            <p id="details-open-1">ver detalles</p>
        </div>

        <div class="container-info-privat">

        <div class="info-privat" id="info-privat-1">
            
            <div class="nameandlevelRoom">
                <h2 class="nameRoom">Privado 1</h2>   
                <p>Middle Option</p>    
            </div>
            <div class="price">
                <p class="price-info"><a class="COP">COP </a>60.000<a class="per-night"> /per night</a></p>
            </div>     
            <div class="service-room">
                <ul class="service-list">
                    <li>From $190.000 COP per night, weekdays</li>
                    <li>From $210.000 COP per night, weekends</li>
                    <li>Sleeps Two</li>
                    <li>Mosquito net</li>
                    <li>Wifi</li>
                </ul>

                <div class="availability">
                    <a href="#" class="theme-btn-s2">Consultar disponibilidad</a>
                </div>
            </div>
            
        </div>

        </div>
        
    </div>

    <div class="info-rooms">
        
        <div id="privat-2" class="privat">
            <div><img src="../../../assets/pictures/priveta_room/private_2/privat_2-1.jpg" alt="" /></div>
            <div><img src="../../../assets/pictures/priveta_room/private_2/privat_2-2.jpg" alt="" /></div>
        </div>

        <div class="title-privat">
            <h3>Privat 2</h3>
            <p id="details-open-2">ver detalles</p>
        </div>

        <div class="container-info-privat">

            <div class="info-privat" id="info-privat-2">
                <div class="nameandlevelRoom">
                    <h2 class="nameRoom">Privado 2</h2>   
                    <p>Normal Option</p>    
                </div>
                <div class="price">
                    <p class="price-info"><a class="COP">COP </a>100.000<a class="per-night"> /per night</a></p>
                </div>     
                <div class="service-room">
                    <ul class="service-list">
                        <li>From $190.000 COP per night, weekdays</li>
                        <li>From $210.000 COP per night, weekends</li>
                        <li>Sleeps Two</li>
                        <li>Mosquito net</li>
                        <li>Wifi</li>
                    </ul>
    
                    <div class="availability">
                        <a href="#" class="theme-btn-s2">Consultar disponibilidad</a>
                    </div>
                </div>
            </div>
    
        </div>

    </div>

    <div class="info-rooms">

        <div id="privat-3" class="privat">
            <div><img src="../../../assets/pictures/priveta_room/private_3/privat_3-1.jpg" alt="" /></div>
            <div><img src="../../../assets/pictures/priveta_room/private_3/privat_3-2.jpg" alt="" /></div>
        </div>

        <div class="title-privat">
            <h3>Privat 3</h3>
            <p id="details-open-3">ver detalles</p>
        </div>

        <div class="container-info-privat">

            <div class="info-privat" id="info-privat-3">
                <div class="nameandlevelRoom">
                    <h2 class="nameRoom">Privado 3</h2>   
                    <p>Normal Option</p>    
                </div>
                <div class="price">
                    <p class="price-info"><a class="COP">COP </a>100.000<a class="per-night"> /per night</a></p>
                </div>     
                <div class="service-room">
                    <ul class="service-list">
                        <li>From $190.000 COP per night, weekdays</li>
                        <li>From $210.000 COP per night, weekends</li>
                        <li>Sleeps Two</li>
                        <li>Mosquito net</li>
                        <li>Wifi</li>
                    </ul>
    
                    <div class="availability">
                        <a href="#" class="theme-btn-s2">Consultar disponibilidad</a>
                    </div>
                </div>
            </div>
    
        </div>
        
    </div>

    <div class="info-rooms">

        <div id="privat-4" class="privat">
            <div><img src="../../../assets/pictures/priveta_room/private_4/privat_4-1.jpg" alt="" /></div>
            <div><img src="../../../assets/pictures/priveta_room/private_4/privat_4-2.jpg" alt="" /></div>
        </div>

        <div class="title-privat">
            <h3>Privat 4</h3>
            <p id="details-open-4">ver detalles</p>
        </div>
        
        <div class="container-info-privat">

            <div class="info-privat" id="info-privat-4">
                <div class="nameandlevelRoom">
                    <h2 class="nameRoom">Privado 2</h2>   
                    <p>Middle Option</p>    
                </div>
                <div class="price">
                    <p class="price-info"><a class="COP">COP </a>100.000<a class="per-night"> /per night</a></p>
                </div>     
                <div class="service-room">
                    <ul class="service-list">
                        <li>From $190.000 COP per night, weekdays</li>
                        <li>From $210.000 COP per night, weekends</li>
                        <li>Sleeps Two</li>
                        <li>Mosquito net</li>
                        <li>Wifi</li>
                    </ul>
    
                    <div class="availability">
                        <a href="#" class="theme-btn-s2">Consultar disponibilidad</a>
                    </div>
                </div>
            </div>
    
        </div>

    </div>

</div>

