
<div id="activities-title">
    <h1>{{title}}</h1>
</div>
<div id="faqs-container">
    <div class="demo">
        <div class="panel panel-default">
            <div class="panel-heading" data-acc-link="demo1">Do you receive card payment?</div>
            <div class="panel-body acc-open" data-acc-content="demo1">
                vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-acc-link="demo2">Can you book with a debit card?</div>
            <div class="panel-body" data-acc-content="demo2">
                vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-acc-link="demo3">If I don't have a credit card, how can I make my reservation?</div>
            <div class="panel-body" data-acc-content="demo3">
                vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-acc-link="demo4">How do I modify or cancel a reservation?</div>
            <div class="panel-body" data-acc-content="demo4">
                vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-acc-link="demo5">When I book directly through the website, do they discount money from my credit card?</div>
            <div class="panel-body" data-acc-content="demo5">
                vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-acc-link="demo6">How do I get to the hostel from Santa Marta?</div>
            <div class="panel-body" data-acc-content="demo6">
                vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </div>
        </div>

    </div>
</div>